<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
	<!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
	<appSettings>
		<add key="appName" value="app" />
	</appSettings>
	<connectionStrings>
		<add name="mongodbs" connectionString="mongodb://47.242.197.74:27017" />
		<add name="CoreDb" connectionString="Server=47.242.197.74;Port=5432;Database=App;User Id=postgres;Password=123456;Pooling=true;MaxPoolSize=40;" />

		<!--其它数据库配置部分-->
		<add name="rabbitmq" connectionString="{'UserName':'admin','Password':'admin','VirtualHost':'uat','MaxPoolSize':'100','Hosts':['47.242.197.74:5672']}" />
		<add name="elasticsearch" connectionString="http://47.242.197.74:9200" />
	</connectionStrings>
</configuration>