App.WebClient/obj/Debug/
App.IActor/obj/
App.WebClient/obj/
App.Host/obj/
App.Actor/obj/
.vs/
Lib/obj/
App.IActor/bin/
App.Actor/bin/
App.WebClient/bin/
App.Host/bin/
Lib/bin/
App.Core/obj/
App.ESlog/obj/
App.Framework/obj/
App.Framework/bin/
App.Dapper/obj/
App.Dapper/bin/
App.ESlog/bin/
App.Handlers/bin/
App.Repository/bin/
App.Handlers/obj/
App.Core/bin/
App.Repository/obj/
